<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @message.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @message.to %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Sent:</strong>
  <%= time_ago_in_words(@message.sent) %> ago %>
</p>

<%= link_to 'Back', messages_path %>
